[2022-11-04 13:18] mateusk commented on #1610
Same here. I am on Nuxt 3.0.0-rc.12 and @nuxtjs/i18n-edge. I had to move my `/locales` folder from `/src` to the app root folder, only then are the locale files correctly loaded again.

[2022-11-05 11:01] ineshbose opened #1611 "[8.0.0-beta-3 - Nuxt 3 RC13] Cannot set headers after they are sent to the client"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.12

### @nuxtjs/i18n configuration

[code]

### Reproduction Link

https://stackblitz.com/edit/github-azrltz?file=nuxt.config.ts

### Description

It causes the app to crash on `/` when `strategy: 'prefix'` (a dev environment would be okay but production crashes), however `/` should redirect to `/:defaultLocale`.

[2022-11-05 14:06] DaniGTA opened #1613 "[NEXT] Cannot find module vue-i18n.mjs"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.13
vue-i18n: "^9.2.2"

### Steps to reproduce
Start nuxi dev

### What is Expected?
Starting dev

### What is actually happening?
Cannot start nuxt:  Cannot find module 'nuxt\node_modules\vue-i18n\dist\vue-i18n.mjs'

[2022-11-05 15:19] kazupon commented on #1613
Thank you for your reporting!
I seem this issue is same #1568

We need minimum reproduction with github repo or stackbliz, so to resolve this issue.
Could you give us to it please? 🙏

[2022-11-05 15:56] kazupon commented on #1611
Thank you for your reporting!
I've met this issue too.

If `prefix` strategy routing accesses `/`, redirect to `defaultLocale` option, this is the same behavior as v7.x. In v8, for this reason, the same behavior is used for migration.

I seem that the error apparently occurs when `redirectTo` is performed after the locale persists to the cookie with `useCookie`.

In the nuxt/framework issues, I fo

[2022-11-05 16:23] ineshbose commented on #1611
Updated to Nuxt 3 RC13 on StackBlitz to confirm that it still persists!

[2022-11-05 17:00] kazupon commented on #1610
Thank you for your reporting!

You need to use JSON format as locale resources, not JavaScript executable format.
(Currently support JSON, JSON5 and YAML)
https://v8.i18n.nuxtjs.org/guide/lazy-load-translations

you need to specify relative path from nuxt app project on `langDir` options. (e.g `./locales`).

[2022-11-05 17:01] #1610 closed, assigned to nobody

[2022-11-06 09:00] danielroe commented on #1611
Taking a quick look, could it be because you don't await or return `navigate`?

https://github.com/nuxt-community/i18n-module/blob/next/src/runtime/plugin.ts#L164-L168

https://github.com/nuxt-community/i18n-module/blob/next/src/runtime/plugin.ts#L369-L373

[2022-11-06 09:57] yassilah opened #1614 "Allow merging local messages instead of replacing them"
### Is your feature request related to a problem? Please describe.

Currently, it is not possible to merge messages from the `vueI18n.messages` option with the messages from a lang file, as those messages are being replaced entirely.

### Describe the solution you'd like

Now that Nuxt 3 has added a new `extends` feature, it would be very useful to be able to set "default" locale messages from wit

[2022-11-06 15:04] DaniGTA commented on #1613
Its an issue with npm with yarn it works.

[2022-11-06 16:25] ErriourMe commented on #1577
Still happening with v8.0.0-beta.3:

[code]

[2022-11-06 17:53] ineshbose opened #1616 "[8.0.0-beta-3 - Nuxt 3 RC13] Uncaught SyntaxError: Unexpected token '{'"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.12

### @nuxtjs/i18n configuration

[code]

### Description

`i18n.locales[0].customFunctions` will break https://github.com/nuxt-community/i18n-module/blob/next/src/gen.ts#L193 resulting in
[code]
It needs to distinguish between arrow functions and named functions - I'll open a PR!

[2022-11-06 18:40] robertoshimizu commented on #1577
I have faced the same issue, in a newly and fresh nuxt3 project installed via `pnpm` and after having installed `@nuxtjs/tailwindcss`.

[code]

[2022-11-07 01:14] kazupon commented on #1577
related (cause) issue:
https://github.com/intlify/routing/issues/19

[2022-11-07 08:13] TayCheng091 commented on #1569
I have same issue .

I use Nuxt 3 to do my project .

Variables work when develop mode .

But after npm build , vairables cant work.

[2022-11-07 14:29] DamianGlowala opened #1618 "Error: Invalid linked format whenever `@` is included"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.13

### @nuxtjs/i18n configuration
[code]

### Reproduction Link
Will provide if needed.

### Steps to reproduce
Create a per-component translation block with any key and value containing an `@` sign, as shown on the screenshot.

### What is Expected?
An email address to be a valid value in the below scenario:
[code]

### What is actually happe

[2022-11-07 21:59] elektracodes opened #1619 "Callbacks not working even when you copy the guide in Docs"
### Version
@nuxtjs/i18n:  7.3.0
nuxt: 2.15.8

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration
[code]

### Reproduction Link

https://stackblitz.com/edit/github-ddeawq?file=nuxt.confi

[2022-11-07 22:16] #1619 closed, assigned to nobody

[2022-11-07 22:18] ineshbose opened #1620 "[8.0.0-beta-3 - Nuxt 3 RC13] Route for page does not include locale"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.12

### @nuxtjs/i18n configuration

[code]

### Reproduction Link

Have a page with the sample code:

[code]

### What is actually happening?

https://github.com/nuxt-community/i18n-module/blob/next/src/pages.ts#L167 picks up on `false` in the later part of the code and hence the route isn't included in localisation.

[2022-11-07 22:27] ineshbose commented on #1620
Suggested solution: The condition can be moved to AFTER determining `result` and test if for that at https://github.com/nuxt-community/i18n-module/blob/next/src/pages.ts#L182

[code]

But personally I don't see a reason for this code though, because if `defineI18nRoute(false)` were to be used, `result` would be `false` (and hence returned) regardless, while line endings or other characters will no

[2022-11-08 02:00] kazupon commented on #1618
Thank you for your reporting!

`@` character and several characters has been special character from vue-i18n v9.x, because these is used in message syntax as special literal in message-compiler
https://vue-i18n.intlify.dev/guide/essentials/syntax.html#special-characters

You can avoid with using literal interpolation
https://vue-i18n.intlify.dev/guide/essentials/syntax.html#interpolations

Thanks

[2022-11-08 02:00] #1618 closed, assigned to nobody

[2022-11-08 02:03] kazupon commented on #1613
Thanks!

I noticed vue-i18n is installed un-expected version
nuxtjs/i18n will install vue-i18n v9.3 beta version

Could you try to re-install (e.g. `rm -rf node_modules package-lock.json`) please?

[2022-11-08 06:32] kazupon commented on #1620
Thank you for your reporting!
I've faced this issue too.

We need to resolve with AST using the parser like `acorn` and the AST walker like `estree`.
Currently, We’re extracting with this module parser and regex.
this way cannot recognize javascript syntax-semantics.
I’ll try to use the fix soon.

[2022-11-08 06:44] kazupon commented on #1616
Thank you for reporting and contributing as always! :)

Related as here.
https://github.com/nuxt-community/i18n-module/pull/1576#issuecomment-1288119399

`unplugin-vue-i18n` need to support for executable formats like `js` and `ts`.
I will try to work on it.

[2022-11-08 09:49] kazupon opened #1621 "not work API completion in `NuxtApp`"
@kazupon I understand. `$localePath` works, unfortunately the problem is that its type requires `NuxtApp` as the first argument. Can it be fixed?
In `/node_modules/@nuxtjs/i18n/dist/runtime/plugin.d.ts`:
![image](https://user-images.githubusercontent.com/48328739/199755536-3e4a496d-4c1a-469e-8e72-9c4b7ee8e1c0.png)

_Originally posted by @szulcus in https://github.com/nuxt-community/i18n-module/iss

[2022-11-08 11:26] ineshbose commented on #1620
I agree that resolving with ASTs is the way to go instead of regex!
Meanwhile I've edited the files in `node_modules` for it to work for my application. 🙂

[2022-11-08 16:28] kazupon commented on #1611
@danielroe
Thanks!

I check again, but return & await did not solve the problem.
I traced it in the debug log and it seems that multiple requests are being generated when redirecting on the server side. The last request is `/__nuxt_error?url=/asd&statusCode=404&statusMessage=Page+not+found:+/asd&message=Page+not+found:+/asd&description&data)`

[2022-11-08 23:57] DaniGTA opened #1623 "How do i add a i18n title to a Nuxt 3 page?"
I want to add a title to a nuxt 3 page with i18n and `<script setup>`

My current example:
https://stackblitz.com/edit/github-afztvu?file=pages/index.vue

In `<script setup>` it says it cant find `$t` and `getCurrentInstance` is also not working with `getCurrentInstance().proxy.$t`

[2022-11-09 07:27] kazupon commented on #1621
I've faced this issue. 😥
https://github.com/nuxt/nuxt.js/issues/14495

[2022-11-09 08:01] mittci opened #1625 "nuxt instance unavailable at Module.useAsyncData and [Vue warn]: onServerPrefetch is called when there is no active component"
### Version
@nuxtjs/i18n:
nuxt:

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [ x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

### Reproduction Link
https://github.com/Maxp777/nuxt4

### Steps to reproduce
1. without enabling 1

[2022-11-09 08:09] rchl commented on #1623
Follow the documentation: https://v8.i18n.nuxtjs.org/getting-started/basic-usage

You haven't even configured the module nor specified translations to use.

[2022-11-09 08:50] kazupon opened #1626 "Support Nuxt Bridge at v7.3 codebase"
_Originally posted by @kazupon in https://github.com/nuxt-community/i18n-module/pull/1521#discussion_r975451777_

[2022-11-09 08:51] kazupon opened #1627 "Support v8.x composables for nuxtjs/i18n v7.4"
_Originally posted by @kazupon in https://github.com/nuxt-community/i18n-module/pull/1521#discussion_r975451777_

[2022-11-09 08:52] kazupon commented on #1627
We need back-port some composable functions from v8.x

[2022-11-09 08:54] kazupon commented on #1626
We need test on @nuxtjs/i18n v7.3 code base + nuxt edge!
If e2e test will be passed, we can release @nuxtjs/i18n v7.4

[2022-11-09 10:33] DaniGTA commented on #1623
sorry stackblitz didnt save the `nuxt.config.ts` changes but the error is still the same.

And the document is not helpful in this example because there is no example to set a title or description.

even with `const { t } = useI18n();` it doesnt recognized `t`

See: https://stackblitz.com/edit/github-afztvu?file=pages/index.vue

[2022-11-09 11:40] rchl commented on #1623
There are some examples in https://v8.i18n.nuxtjs.org/guide/per-component-translations but it appears to not be documented in the API section.

[2022-11-09 11:41] rchl commented on #1626
Why Nuxt Edge? I think it should work on latest stable.

[2022-11-09 12:42] DaniGTA commented on #1623
These example in https://v8.i18n.nuxtjs.org/guide/per-component-translations works for using `t` in `<script setup>` but not for using `t` in `definePageMeta`.

Is there another way to set title or is it currently not supported?

[2022-11-09 15:22] kazupon commented on #1626
We don't still  announce officially 📢
I believe it is necessary for me to pass the e2e test to pass that it works correctly ✅

[2022-11-09 15:26] rchl commented on #1626
We don't support it officially, yes, but my question is: why do you think that we should be testing on "nuxt edge" rather than on the latest Nuxt 2 stable? Does latest stable not yet include needed functionality?

[2022-11-09 15:53] Fillsen commented on #1305
same issue

[2022-11-09 15:59] kazupon commented on #1626
Nuxt Bridge is a nuxt module running on Nuxt2 (accurately, it's  edge version called by`nuxt-edge`).
Nuxt Bridge backports some features and APIs from Nuxt3.

This module is loosely coupled with Nuxt module. Although it should not do anything to affect Nuxt modules using other modules such as @nuxtjs/i18n, I think it's necessary to test that @nuxtjs/i18n works on Nuxt2 + Nuxt Bridge to assure that

[2022-11-09 16:12] kazupon commented on #1623
I think it might be issue of `definePageMeta` 🤔
As I know as, `definePageMeta` is worked  on `setup` context of Vue

[2022-11-09 16:20] rchl commented on #1626
Then nuxt bridge should be released in a stable version first that supports stable nuxt 2 version.

Requiring nuxt-edge won't be an option for many production services that need to not randomly break.

[2022-11-09 16:50] kazupon commented on #1623
Ah, `definePageMeta` is compiler macro.
docs say the below:
https://v3.nuxtjs.org/guide/directory-structure/pages/#page-metadata

[2022-11-09 16:53] kazupon commented on #1623
As work-around, You can use `useRoute`.
The below example code:

[code]

[2022-11-09 16:55] #1623 closed, assigned to nobody

[2022-11-09 17:02] MusicOnline opened #1628 "<i18n global> does not work"
### Version
@nuxtjs/i18n: Edge 0a3c92a
nuxt: 3.0.0-rc.13

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### Reproduction Link
Reproducible on minimal set up with the below snippet.

### Steps to reproduce
Add thi

[2022-11-09 18:46] DaniGTA commented on #1623
[code]
This doesn´t work with `nuxi generate` (html file has no title) and when the user opens the html the title doesn´t updates.
And it dont work with `nuxi dev`.

[2022-11-09 19:08] DaniGTA commented on #1623
With
[code]
it works for ssr.
On `nuxt generate` title is not set in the html file but on execute the user gets the title.

[2022-11-09 20:22] vadim-works opened #1630 "Incorrect render of computed value with useState passed to $t()"
### Version
@nuxtjs/i18n: ^8.0.0-beta.2
nuxt: 3.0.0-rc.13

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [x] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration
[code]

### Reproduction Link
https://codesandbox.io/s/nuxt-i18n-usestate-wi

[2022-11-09 21:35] daguitosama opened #1631 "v8 Documentation Site Navigation is Broken"
### Steps to reproduce
Just open the v8 docs [site](https://v8.i18n.nuxtjs.org)
   https://v8.i18n.nuxtjs.org

### What is Expected?
To be able to use the navigation

### What is actually happening?
When the document loads the navigation blinks, and disappears. When open in the console shows up a hydration  error:
[code]

<img width="1251" alt="Screen Shot 2022-11-09 at 16 26 38" src="https://user

[2022-11-10 06:50] senher opened #1632 "detectBrowserLanguage Parameter configuration does not work"
### Version
@nuxtjs/i18n:^8.0.0-beta.3
nuxt:3.0.0-rc.11

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

### Reproduction Link

### Steps to reproduce

[code]

### What is Expected?

[2022-11-10 07:39] senher commented on #1507
Hello, maybe you need to check the usage in the document. It is different from that in nuxt2,
Scroll it to the end:[ https://v8.i18n.nuxtjs.org/guide/seo]( https://v8.i18n.nuxtjs.org/guide/seo)

[2022-11-10 07:43] rchl commented on #1632
Fill out all the requested information including specifying versions and providing reproduction.

[2022-11-10 08:52] retroriff commented on #1507
By default the first item defined in the locales option should appear as default lang attribute. What am I missing?

[2022-11-10 08:56] senher commented on #1507
I think it's necessary to add:
[code]

[2022-11-10 08:56] Applelo opened #1633 "Route with params return the parent page"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.13

### @nuxtjs/i18n configuration

[code]

### Reproduction Link
[https://codesandbox.io/s/nuxt-i18n-route-params-w7m1yz
](https://codesandbox.io/s/nuxt-i18n-route-params-w7m1yz)

### Steps to reproduce

Accessing to the child page with a parameters return the parent page. The route matches correctly in the Vue Router inspector but it doesn't

[2022-11-10 09:13] Fillsen commented on #1280
Same issue

[2022-11-10 09:19] Applelo commented on #1633
I can reproduce the bug with Nuxt without i18n. I think I doing it wrong, I will read more https://v3.nuxtjs.org/guide/directory-structure/pages#dynamic-routes ^^. I will update this comment if I find out :) Have a great day :D

[EDIT] So yeah, I was wrong about the nuxt structure. Don't do `articles` folder and `articles.vue` but just `articles` folder with `index.vue`

[2022-11-10 09:19] #1633 closed, assigned to nobody

[2022-11-10 10:07] kazupon commented on #1631
Thank you for your reporting!

@nuxtjs/i18n v8 docs is built by docs
So, I think docs might have something issue 🤔  /cc @Atinux

[2022-11-10 10:54] retroriff commented on #1507
I tried this but doesn't work either:

[code]

[2022-11-10 11:02] senher commented on #1507
Hi，try to upgrade nuxt & i18n
This is the version I am currently using
[code]

[2022-11-10 11:08] retroriff commented on #1507
I was using:
[code]
I upgraded them but it doesn't work either 🙁
[code]
Could you share your i18n config settings?

[2022-11-10 11:10] senher commented on #1507
sure
[code]

[2022-11-10 11:44] retroriff commented on #1507
`Cannot start nuxt:  en is not defined`

Where do you define the language shorthand values on `messages`?

[2022-11-10 11:48] senher commented on #1507
[code]

[2022-11-10 11:55] retroriff commented on #1507
Doesn't work either to me. Maybe this is the problem:

`Property '$nuxtI18nHead' does not exist on type 'NuxtConfig'.ts(2339)`

<img width="709" alt="image" src="https://user-images.githubusercontent.com/2946239/201084114-d72fa6b3-7091-466b-946d-f8e7b255f018.png">

I will push a basic setup to Stackblitz so it can be debugged.

[2022-11-10 13:41] DaniGTA opened #1634 "Windows cant load lazy i18n lang files."
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.13

### Error
[code]
### Output in .nuxt/i18n.options.mjs
[code]
### Stackblitz
https://stackblitz.com/edit/github-afztvu-fcwea9?file=.nuxt/i18n.options.mjs
### Info
The bug does not seem to appear on stackblitz but the same projekt makes problems on windows.

[2022-11-10 13:41] DaniGTA commented on #1613
Now i get `Cannot find module '@intlify/vue-i18n-bridge/lib/index.mjs' ` with `npm i`.

With yarn it still works

[2022-11-10 14:09] verenya opened #1635 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one

[2022-11-10 14:34] kazupon commented on #1628
Thank you for your reproting!
I've faced this issue.

It might be the `@intlify/unplugin-vue-i18n` with using internally, so I'll more look up issues and then fix it!

[2022-11-10 14:39] kazupon commented on #1634
Duplicate issue #1518

Thanks!

[2022-11-10 14:39] #1634 closed, assigned to nobody

[2022-11-10 14:59] kazupon commented on #1625
Thank you for your reporting!

I’ve just made sure your repro repo.
I’ve faced the below error:

[code]

I seem that the cause of this error is occured by pinia.

Thanks!

[2022-11-10 14:59] #1625 closed, assigned to nobody

[2022-11-10 15:26] kazupon commented on #1630
Thank you for your reporting!

`useState` return the `Ref`
https://v3.nuxtjs.org/api/composables/use-state#usestate

You should not need wrap further with `computed`.
So, you need use the reactivity APIs correctly

Thanks!

[2022-11-10 15:26] #1630 closed, assigned to nobody

[2022-11-10 15:37] yoyo-checkout commented on #1561
Thank you for your replying. This is very helpful and inspired me!

For some SEO reasons, we decide to fetch translations from api on server side.
So we need to keep the translation value. And here is our solution.
[code]

Although call `mergeLocaleMessage` twice both on server and client side seems a little weird and still have the console warnings.😅
But it works as we expected, hope it helps oth

[2022-11-11 16:03] kazupon commented on #1620
Hi!
I've just fixed #1636
You can try to use the edge version! :)

[2022-11-11 21:29] mittci commented on #1625
Daniel Roe say it's a limitation of running composables async https://github.com/nuxt/nuxt.js/issues/15418

[2022-11-12 07:28] kazupon commented on #1518
I've just support import assertions for `import` (static).
You can try to use with edge version.

[2022-11-12 08:59] kazupon commented on #1577
I've just fixed.
You can try to use with edge version.
Please try it!

Thanks!

[2022-11-12 09:28] bitmonti opened #1640 "Cannot find module '@intlify/vue-i18n-bridge/lib/index.mjs'"
### Version
@nuxtjs/i18n: 8.0.0-alpha.4
nuxt: 3.0.0-rc.13

### What is actually happening?
On "npm update"

Cannot start nuxt:  Cannot find module '@intlify/vue-i18n-bridge/lib/index.mjs'
Require stack:
- /var/www/.../index.js
- at Function.Module._resolveFilename (node:internal/modules/cjs/loader:956:15)
  at Function.resolve (node:internal/modules/cjs/helpers:108:19)
  at Function._resolve [as r

[2022-11-12 11:35] IceBjerg commented on #1640
I think this (#1638) PR messed up something. (`next` branch)

Maybe correlates to why [i18-v8](https://v8.i18n.nuxtjs.org/) page is down?

[2022-11-12 13:39] ineshbose commented on #1616
@kazupon I assume that #1617 isn't useful anymore since the generator is being rewritten to use AST walkers - may I ask when would this issue be looked into? Sorry for the push, I'm unable to make a production release with desired features!

[2022-11-12 14:35] kazupon commented on #1616
Sorry, I could not still understand this issue.

[code]

I don't understand the use case for specifying `customFunctions` in `i18n.locales` in nuxt.config.

The `i18n` option accepts schema settings defined by `@nuxtjs/i18n`.

That schema can do by the completion if we are using typescript.

In fact, the type of options expected by nuxtjs/i18n are defined here
https://github.com/nuxt-community/i18

[2022-11-12 15:03] ineshbose commented on #1616
Hi @kazupon,

`locales` is of type `LocaleObject[]` which extends `Record<string, any>` (https://github.com/intlify/routing/blob/main/packages/vue-i18n-routing/src/types.ts#L49), so I'm putting additional meta information in each Locale Object for my project so that there is one centralised configuration for my locales, and this additional information is being used to integrate with my custom comp

[2022-11-12 15:10] ineshbose commented on #1616
Or option 2 (not ideal) would be to refactor

https://github.com/nuxt-community/i18n-module/blob/3a9262a1f52e6a1976fe03c48c8658a5dbadd694/src/utils.ts#L20

and only pick out properties the module is interested in

[code]

[2022-11-13 11:02] kazupon commented on #1616
Thank you for your kind explation!
I got the understaning this issue.

Sorry, I confused confuse the `js` / `ts` i18n resources loading.
Okay I’ll merge your PR!
Thanks!

[2022-11-13 12:50] TheAlexLichter opened #1641 "[next] Docs contain hydration mismatch"
### Version

Doesn't matter

### Reproduction Link

https://v8.i18n.nuxtjs.org/getting-started/setup/

### Steps to reproduce

1. Go to that site
2. See that navbar is gone and the console has an error

### What is Expected?

No error & sidebar

[2022-11-13 14:33] rchl commented on #1641
Duplicate of #1631

[2022-11-13 14:33] #1641 closed, assigned to nobody

[2022-11-13 15:18] #1616 closed, assigned to nobody

[2022-11-13 15:22] #1620 closed, assigned to kazupon

[2022-11-13 17:54] kazupon commented on #1628
Hi!
You need to call `useI18n` with global scope
I’ll update vue-i18n docs.
https://github.com/intlify/vue-i18n-next/pull/1221/files

Thanks!

[2022-11-13 17:54] #1628 closed, assigned to kazupon

[2022-11-13 20:42] TheAlexLichter opened #1643 "[8.0.0-beta.3 - Nuxt 3 RC13] `$te` is not auto-imported in template - _ctx.$te is not a function"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt:3.0.0-rc.13

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [x] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

[code]

### Reproduction Link

https://stackblitz.com/edit/i18n-module-1643?f

[2022-11-13 20:45] TheAlexLichter opened #1644 "[next] Auto-import of `t` in `<script setup>`"
### Is your feature request related to a problem? Please describe.

Using `$t` is common when e.g. building meta-tags. Always writing `{ t: $t } = useI18n()` feel a bit tedious after a while

### Describe the solution you'd like

Ideally: Full intellisense + "using" `$t` out of the box in `<script setup>` without writing above mentioned line.

### Describe alternatives you've considered

* Writing

[2022-11-14 00:27] Ingramz commented on #1577
Hi! `@intlify/vue-i18n-bridge` and `@intlify/vue-router-bridge` require the same fix to be applied.

[2022-11-14 08:01] leopoldkristjansson commented on #1305
Here is a hacky solution to this issue, since it seems to be alive still. If someone has something better, that would of course be great.

In short, if I do not have a translation for a certain language I set the `postId` to a fixed string (e.g. `'redirect-to-article-overview'`). I've than set up a `server-middleware` that removes that string from URL's.

In practice this means that the following

[2022-11-14 08:58] mittci commented on #1640
work well with nuxt version 3.0.0-rc.14-27796957.b60f136 and nuxt-i18n version 8.0.0-beta.3-27795697.3018395

[2022-11-14 10:21] kazupon commented on #1643
Thank you for your reproting!

`$te` injected into component is no longer provided by the Composition API (setup hook or script setup) from vue-i18n v9.
https://vue-i18n.intlify.dev/api/injection.html#componentcustomproperties

The reason for the deprecation is that having that API would complicate the i18n implementation by programmatically checking for the presence of keys.

As an alternative to

[2022-11-14 10:21] #1643 closed, assigned to nobody

[2022-11-14 10:26] TheAlexLichter commented on #1643
@kazupon Thanks for the info! So there is no way to programmatically check the existence of a key and e.g. render a component based on it (except with the legacy API)?

[2022-11-14 10:44] kazupon commented on #1643
@manniL
Ah, sorry. vue-i18n have been still providing  Composition API equivalent to it. 😅
You can use `te`:
https://vue-i18n.intlify.dev/api/composition.html#te-key-locale
[code]

[2022-11-14 10:49] TheAlexLichter commented on #1643
Good to know!

But still, `$te` should be automatically injected without using composition API, similar to `$t`, right? That's not the case (see example above).

[2022-11-14 18:01] michaelboke commented on #1640
having the same issue here: can confirm that 3.0.0-rc-13 + nuxt-i18n 8.0.0-beta-3 works,  using beta-4 gives the same error `@intlify/vue-i18n-bridge/lib/index.mjs`

[2022-11-15 01:54] kazupon commented on #1640
Please try to remove `node_modules` and lock file once, and install edge version.
`@nuxtjs/i18n-edge@8.0.0-beta.4-27807388.1909184`

[2022-11-15 01:54] kazupon commented on #1643
Hi!
I supported `$te` globaly.
Please try to install edge version `@nuxtjs/i18n-edge@8.0.0-beta.4-27807388.1909184`

[2022-11-15 02:16] kazupon commented on #1410
@nuxtjs/i18n for Nuxt3 has been already released v8 beta version.
Thank you!

[2022-11-15 02:16] #1410 closed, assigned to nobody

[2022-11-15 08:42] mittci commented on #1640
@kazupon
[code]

[code]

[2022-11-15 08:47] DanielHefti commented on #1401
I'm looking for this feature as well!

[2022-11-15 09:11] katerlouis opened #1648 "How to extendRoutes for dynamic pages from CMS with different paths per locale?"
## Context
We are using Storyblok as headless cms for a dual language website. Step by step we are moving our hardcoded pages to said storyblok.

## Problem
Vue doesn't know the routes anymore, because we obviously got rid of the `.vue`-files in `/pages`. In situations where we have to hardcode a link to a storyblok page (in menu or footer for instance), we have a problem. The following no longer

[2022-11-15 09:36] kazupon commented on #1640
Thanks!
Could you do us an additional favor, so tell us the node_modules tree structure of your nuxt project, node.js version and package manager version? 🙏

[2022-11-15 10:46] mittci commented on #1640
npm -v
8.19.2

node -v
v16.18.1

npm list
<details>

[code]
</details>

[2022-11-15 12:46] vanling commented on #1640
`npm --v 8.16.0`
`node --version v16.16.0`

[code]

Reverting back to beta3 works here :)

[2022-11-15 14:06] ilya-buligin commented on #1640
Fixed this problem by removing `"type": "module"` from my `package.json` file :)

[2022-11-15 14:43] mittci commented on #1640
@ilya-buligin are you sure?

[2022-11-15 14:51] ilya-buligin commented on #1640
@Maxp777 yes. Look at this `Cannot find module '@intlify/vue-i18n-bridge/lib/index.MJS` <- **MJS**

[2022-11-15 15:30] larbijirari commented on #1100
hello,
i'm facing the same situation, any news about this feature ?

[2022-11-15 15:44] lustremedia commented on #1631
Normal navigation towards the documentation from the entry page works (Get Started Link). Subsequent navigation also works, but if you **refresh** the page the blinkage starts to happen ... and the hydration error shows up in the console ...

A hard refresh (f5) is the issue for me!

[2022-11-15 16:34] bitmonti commented on #1640
node v16.17.0

npm 9.1.1

<details>
 <summary>Details</summary>

</details>

[2022-11-15 17:44] Applelo opened #1649 "[Next] Nested Routes are not created with pages options"
### Version
@nuxtjs/i18n: 8.0.0-beta.4
nuxt: 3.0.0

### @nuxtjs/i18n configuration
[code]

### Reproduction Link
[Reproduction on StackBlitz](https://stackblitz.com/edit/nuxt-i18n-nested-routes?file=nuxt.config.ts)

### Steps to reproduce

Try to access to the translated route for profile page, it is not working and return a 404 error.

### What is Expected?

Nested root should work (like https://

[2022-11-15 19:36] blouflashdb commented on #1640
Same problem here with
"nuxt": "3.0.0-rc.13",
"@nuxtjs/i18n": "^8.0.0-beta.4"

[2022-11-15 19:52] blouflashdb opened #1650 "alwaysRedirect in detectBrowserLanguage not working"
### Version
@nuxtjs/i18n: 8.0.0-beta.4
nuxt: 3.0.0-rc.13

### Nuxt configuration
 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration
[code]

### Reproduction Link
https://github.com/blouflashdb/Awesome-Nimiq

### Steps to reproduce
- call setLocale to a different

[2022-11-15 20:25] Applelo opened #1651 "[Next] defineI18nRoute not register the route if ref(false) below it"
### Version
@nuxtjs/i18n: 8.0.0-beta.3
nuxt: 3.0.0-rc.13

### @nuxtjs/i18n configuration

[code]

### Reproduction Link

[Reproduction link](https://stackblitz.com/edit/nuxt-i18n-nested-routes-gf729y?file=pages/login.vue)

### Steps to reproduce

Create a file using `defineI18nRoute` method and put under `false`

### What is Expected?

To be registered by `nuxt/i18n`

### What is actually happenin

[2022-11-15 20:29] ilya-buligin commented on #1640
@bitmonti @blouflashdb what is the "type" in package.json?

[2022-11-15 20:39] blouflashdb commented on #1640
There is none defined so its the default one. @ilya-buligin

[2022-11-16 08:01] #1614 closed, assigned to nobody

[2022-11-16 09:58] Bcavez commented on #1640
Having the same issue.

But when I went back to my previous working setup of "nuxt": "3.0.0-rc.12", "@nuxtjs/i18n": "^8.0.0-beta.1" it wasn't working anymore. It was because my package.lock.json had been modified. Going back to the unmodified version fixed everything.

So yea, it seems like it is coming from some dependencies, not from upgrading nuxt version or @nuxtjs/i18n version.

[2022-11-16 10:02] mittci commented on #1640
we know that, more you can use @nuxtjs/i18n": "^8.0.0-beta.3
and some version of nuxt rc13 (1-2 wek ago old), nuxt rc14 and rc15

[2022-11-16 11:05] kazupon commented on #1640
I'm working on this issue. so I could reproduce and find out the cause.
Please wait 🙏

[2022-11-16 14:42] stephAc commented on #1632
Hello, having the same issue where it seems that the browser language is not detected by the pluging and keeps on going for the defaultLocale config, It also applies to the static deployment.
Thank's for any info on this issue

[2022-11-16 15:09] mjbates7 commented on #1632
Hello, I'm also experiencing the same issues as the above comments. It always goes back to the default locale rather than what is detected. I would have thought if the accept language detects the locale (and redirect is on) it would go to that `{locale}/[...slug]` for example. If no redirect then it should know what locale is detected.

Thank you

[2022-11-16 15:38] ahoiroman opened #1652 "Crashes using Nuxt3.0.0"
### Version
@nuxtjs/i18n: 8.0.0-beta.4
nuxt: 3.0.0

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

[code]

[code]

### Steps to reproduce

Run `npm run dev`

### What is Expected?

[2022-11-16 15:53] MusicOnline commented on #1652
Duplicate of #1640

[2022-11-16 16:05] Applelo commented on #1651
Ok, happen an another time in my current project with just a reference of `false` in my `<template></template>`

[2022-11-16 18:37] golubvladimir commented on #1161
What about my path for fix this problem - https://github.com/golubvladimir/nuxt-i18n-different-domains-and-prefixes , I use https://github.com/nuxt-community/router-module for creating custom Nuxt router.

[2022-11-16 22:11] Applelo commented on #1651
Ok it seems like to be fix with 8.0.0-beta.4 :) I close the issue

[2022-11-16 22:11] #1651 closed, assigned to nobody

[2022-11-17 08:46] #1652 closed, assigned to nobody

[2022-11-17 13:56] agracia-foticos commented on #1652
Same issue

[2022-11-17 13:56] agracia-foticos commented on #1640
same issue with version 3.0.0 STABLE

[2022-11-17 15:08] k0mar12 commented on #1640
I got same issue, waiting for solution :)

[2022-11-17 15:18] k0mar12 commented on #1640
@kazupon

Maybe it could help you.
node v19.1.0
npm v8.19.3
nuxt v3.0.0

@nuxtjs/i18n v8.0.0-beta.3 - Works
@nuxtjs/i18n v8.0.0-beta.4 - Got error

[2022-11-18 00:06] atinux commented on #1631
Could you try with latest Docus? https://docus.dev

[2022-11-18 02:34] daguitosama commented on #1631
Looks like navigation on v8 site is back, Docus good too.
<img width="1179" alt="Screen Shot 2022-11-17 at 21 33 03" src="https://user-images.githubusercontent.com/34744883/202603491-aab6a9db-8a26-4311-96a9-695ce2a7191e.png">

[2022-11-18 02:34] daguitosama commented on #1631
So i think this issue it's done.

[2022-11-18 02:34] #1631 closed, assigned to kazupon

[2022-11-18 07:39] agracia-foticos commented on #1640
reproduction
https://stackblitz.com/edit/nuxt-starter-f6cpnf

[2022-11-18 09:01] kazupon commented on #1613
I've just fixed and release edge version `@nuxtjs/i18n-edge@8.0.0-beta.4-27812700.b832f07`
Please check it!

[2022-11-18 09:01] #1640 closed, assigned to kazupon

[2022-11-18 09:02] kazupon commented on #1640
I've just fixed and release edge version `@nuxtjs/i18n-edge@8.0.0-beta.4-27812700.b832f07`
Please check it!

[2022-11-18 09:04] kazupon commented on #1577
I've just fixed and release edge version @nuxtjs/i18n-edge@8.0.0-beta.4-27812700.b832f07
Please check it!

[2022-11-18 09:04] #1577 closed, assigned to kazupon

[2022-11-18 09:24] agracia-foticos commented on #1640
I've added it to my package.json and reinstalled everything and it still doesn't work

------------------------------
- Operating System: `Linux`
- Node Version:     `v16.18.0`
- Nuxt Version:     `3.0.0`
- Nitro Version:    `1.0.0`
- Package Manager:  `npm@8.19.2`
- Builder:          `vite`
- User Config:      `srcDir`, `modules`, `compilerOptions`, `vue`, `vite`, `schemaOrg`, `telemetry`, `algol

[2022-11-18 09:29] vanling commented on #1640
@agracia-foticos  You have to use modules: `['@nuxtjs/i18n-edge']` ;)

@kazupon Have not tested the i18n functionality itself, but the nuxt starts without error now <3 thank you.

[2022-11-18 09:37] SamHoque opened #1654 "ERROR Cannot start nuxt: Cannot find module '@intlify/vue-i18n-bridge/lib/index.mjs'"
### Version
@nuxtjs/i18n: ^8.0.0-beta.4
nuxt: ^3.0.0-rc.12

### Steps to reproduce
1. Add `'@nuxtjs/i18n'` to `nuxt.config.js`
2. Run `npm run dev`

### What is Expected?
Nuxt to run properly

### What is actually happening?
Throwing an error

[code]

[2022-11-18 09:44] agracia-foticos commented on #1640
WOOORRRKSSS!!! Thanks a lot!!!!

[2022-11-18 09:50] k0mar12 commented on #1640
@kazupon Edge version working, thanks a lot :)

[2022-11-18 10:50] ahoiroman commented on #1613
For me, the i18edge-version you just released fixes the issue.

[2022-11-18 14:05] andreidmour commented on #1654
I confirm this bug, don't have any solution yet.

[2022-11-18 17:50] Maginobion opened #1656 "docs: Site crashes after reload"
### Version
@nuxtjs/i18n: latest
nuxt: latest

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [ ] Applies to a site deployed to a server with a Node backend

### Reproduction Link
[](https://v8.i18n.nuxtjs.org/getting-started/setup/)

### Steps to reproduce
Reload the page.

#

[2022-11-18 22:01] ineshbose commented on #1611
I've spent a while trying to investigate & debug this myself, and I'm struggling to point at the issue!

[2022-11-18 23:33] madebyfabian commented on #1654
Can confirm, on nuxt@3.0.0 and nuxt-i18n@beta4. Installing the `@intlify/vue-i18n-bridge` package just throws up more dependency errors

[2022-11-19 00:09] kazupon commented on #1621
related (caused by) issue:
https://github.com/nuxt-community/i18n-module/issues/1613
https://github.com/nuxt-community/i18n-module/issues/1640

There are cases where alias resolution does not work, so I’ll plan to implement it in the straightforward approach with nuxt3 suggesting.

[2022-11-19 04:21] MusicOnline commented on #1654
Duplicate of #1640

[2022-11-19 04:49] julioglobal100 commented on #1401
we need this! thanks

[2022-11-19 06:07] kazupon commented on #1654
I think this issue is resolved edge version.
See details #1640 comments

Thanks!

[2022-11-19 06:07] #1654 closed, assigned to nobody

[2022-11-19 06:48] kazupon commented on #1611
Thanks for your research and interest in nuxtjs/i18n.
I'll try to work on this issue as well once I am done with other issues. I'm really happy that the community is contributing for the issue resolving :)

[2022-11-19 09:59] andreidmour opened #1658 "Per-component Translations"
In the documentation https://v8.i18n.nuxtjs.org/guide/per-component-translations the example doesn't seem to work. What shoud the configuration be to enable this funationality. setup: Nuxt 3.0.0  i18n v8 beta 4

**Component**

[code]

**Nuxt Config**

[code]

**Error in browser:**

[code]

[2022-11-19 10:52] phanect opened #1659 "useI18n() does not return locales when you use Per-component translations"
### Version
@nuxtjs/i18n: 8.0.0-beta.4-27812700.b832f07
nuxt: 3.0.0

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [x] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

[code]

### Reproduction Link

https://github.com/phanect/repro-n

[2022-11-19 12:01] kazupon commented on #1649
Thank you for your reporting!
and, sorry late my reply.

I'll try to fix this issue.

[2022-11-19 12:02] kazupon commented on #1650
Thank you for your reporting!
and, sorry late my reply.
I'll try to fix this issue!

[2022-11-19 12:09] kazupon commented on #1450
I think that compsable functions is auto imported in v8 beta
if you would have still issue, please open the new issue.

thanks!

[2022-11-19 12:09] #1450 closed, assigned to nobody

[2022-11-19 12:11] kazupon commented on #1489
Currently, @nuxtjs/i18n has been released v8 beta.
if you would have still issue, please open the new issue.

thanks!

[2022-11-19 12:11] #1489 closed, assigned to nobody

[2022-11-19 12:16] andreidmour commented on #1659
Same problem #1658

[2022-11-19 12:17] kazupon commented on #1507
I think that compsable functions is auto imported in v8 beta
if you would have still issue, please open the new issue.
thanks!

[2022-11-19 12:17] #1507 closed, assigned to nobody

[2022-11-19 12:18] kazupon commented on #1451
@nuxtjs/i18n has been already v8 beta
if you would have still issue, please open the new issue.
thanks!

[2022-11-19 12:18] #1451 closed, assigned to nobody

[2022-11-19 12:19] kazupon commented on #1416
@nuxtjs/i18n has been already v8 beta
if you would have still issue, please open the new issue.
thanks!

[2022-11-19 12:19] #1416 closed, assigned to nobody

[2022-11-19 12:20] kazupon commented on #1452
@nuxtjs/i18n has been already v8 beta
if you would have still issue, please open the new issue.
thanks!

[2022-11-19 12:20] #1452 closed, assigned to nobody

[2022-11-19 12:28] phanect commented on #1659
@andreidmour I don't think this issue is a duplicate of #1658.

You didn't extract `locales` from the return value of `useI18n()` in #1658. This issue is about missing `locales`, so I think #1658 is a different problem from this issue.

[2022-11-19 13:45] kazupon commented on #1659
Thank you for your reporting!
I've just reproduce this issue.

This issue is a bug.
I'll try to fix.

[2022-11-19 13:53] kazupon commented on #1658
Thank you for your reporting!

Unfortunately, I could not reproduce this issue.
We need reproduction repo.
Could you give us your minimum reproduction repo or stackbliz please? 🙏

[2022-11-20 10:58] jbmolle commented on #1658
Did you try t('welcome') instead of $t('welcome') ? You're defining the t function in use I18n scope local.

[2022-11-20 11:37] kazupon commented on #1658
Thank you for your PR description updating.

You need use `t` which is exported by `useI18n`, **not `$t`**.
because, `$t` work in global scope.

I've update [v8 docs](https://v8.i18n.nuxtjs.org/guide/per-component-translations/) with [this PR](https://github.com/nuxt-community/i18n-module/commit/2bbf18d6ecffc659af256c5d1363112ebd58e57c)

Thanks!

[2022-11-20 11:37] #1658 closed, assigned to nobody

[2022-11-21 04:15] kazupon commented on #1659
I've just fixed this issue.
You can use edge version `@nuxtjs/i18n-edge@8.0.0-beta.4-27816734.493bb8f`
Please try it!

Thanks!

[2022-11-21 11:43] szulcus opened #1664 "[NEXT] How can I use <i18n-t> component?"
How can I use this component: https://vue-i18n.intlify.dev/guide/advanced/component.html#slots-syntax-usage. Theoretically, I can take the `Translation` component, but it has the wrong types, which is quite a pain. Is there any other way to do this?
[code]
[code]
![image](https://user-images.githubusercontent.com/48328739/203043007-786a9e72-3de8-40c1-91f9-e7010c192ea9.png)

[2022-11-21 12:03] jbmolle commented on #1648
Hi katerlouis,
You can overwrite route meta at runtime through the useRoute() composable in Nuxt3.
I've answered in this discussion
#1588
Hope it helps!
JB

[2022-11-21 12:57] raducretu opened #1665 "Cannot start nuxt: Cannot find module '@intlify/vue-i18n-bridge/lib/index.mjs'"
### Version
@nuxtjs/i18n: ^8.0.0-beta.4
nuxt: ^3.0.0

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [x] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration
[code]

### Reproduction Link
Node v16.11.0

### What is Expected?
I would like t

[2022-11-21 13:52] jasonfeidt opened #1666 "Cannot start nuxt: Cannot read properties of undefined (reading 'options')"
### Version
@nuxtjs/i18n:^7.3.0
nuxt:"3.0.0"

### Steps to reproduce
1. Setup New Nuxt3 Project with npx nuxi init nuxt-app
2. yarn install
3. yarn add  @nuxtjs/i18n
4. add module and options to nuxt.config.ts
{
  modules: [
    [
      '@nuxtjs/i18n',
      {
        locales: ['en', 'es'],
        defaultLocale: 'en',
        vueI18n: {
          fallbackLocale: 'en',
          messages: {

[2022-11-21 13:55] larswww commented on #1666
Same issue here. Doesn't matter if i supply my options in the modules array, or under i18n: {} in the nuxt.config.ts.

[2022-11-21 13:59] jasonfeidt commented on #1666
Yes, I can confirm. It does not make a difference if options are defined or not.

[2022-11-21 14:01] divine commented on #1666
Hello,

Version 7.3.0 isn’t compatible with Nuxt v3, use version ^8.

Thanks!

[2022-11-21 14:06] larswww commented on #1666
Thats actually mentioned in the docs i clearly didn't read well enough! [nuxt3 i18n docs](https://v8.i18n.nuxtjs.org/) for anyone else who runs into the same thing in the future.

[2022-11-21 14:26] #1666 closed, assigned to nobody

[2022-11-21 14:39] jasonfeidt commented on #1666
Thank you!

[2022-11-21 14:55] kazupon commented on #1665
duplicate issue as #1640
You can use edge version `@nuxtjs/i18n-edge@8.0.0-beta.4-27812700.b832f07`
Thanks!

[2022-11-21 14:55] #1665 closed, assigned to nobody

[2022-11-21 15:20] kazupon commented on #1664
Translation component (`<i18n-t>`) is built-in nuxtjs/i18n.

Currently, there is a issue with type inference being unknown in Volar, but you can use it in template.
We are recognized of this issue and it needs to be fixed in vue-i18n.

[2022-11-21 16:10] szulcus commented on #1664
@kazupon I didn't think to use it globally because Volar was showing me type `unknown`, thanks!
![image](https://user-images.githubusercontent.com/48328739/203103451-9fb33354-482a-4d4a-9c9f-e4a25536bc3c.png)

[2022-11-21 16:10] #1664 closed, assigned to nobody

[2022-11-21 22:42] phanect commented on #1659
@kazupon Thanks, I have confirmed the issue is fixed on my end.
Now `useI18n()` returns `i18n.locales` properly.

[2022-11-21 22:42] #1659 closed, assigned to nobody

[2022-11-22 09:41] larbijirari opened #1669 "use multiple domains one the same language"
Nuxt version: 2.15.8
nuxt-i18n version: 6.28.1
Nuxt
Hello,
Is there a way use multiple domains with, the same language file ?
something like this :

[code]
FYI, the following syntax, generates the routes multiple times ( x times the the code)
[code]

[2022-11-22 15:52] markus-gx commented on #1632
When using `locale` `const { locale, availableLocales } =  useI18n()` it stays the same as the previous comments mentioned.
Inspected the request headers and they are different than the fallbackLocale configured. So no browser detectino is working. Running on beta.4 and Nuxt 3.0.0 Stable.

[2022-11-22 18:37] Bcavez commented on #1640
Anyone able to make this work with nuxt 3.0.0 release ?
For me it works with rc14 but not with the nuxt release version. Still getting:

[code]

[2022-11-23 04:53] lity opened #1671 "Issue of dependencies when installed through pnpm"
### Version
@nuxtjs/i18n: 8.0.0-beta.4
nuxt: 3.0.0

After I run command "pnpm i" to install packages and start my project, errors occured,  @nuxtjs/i18n`s dependencies "cookie-es" "html-tags" "is-https" "js-cookie" "ufo" not found, so I had to mannually add these packages to my project.

No such problem with npm and yarn.

[2022-11-23 08:08] mittci commented on #1640
@Bcavez for me it works with edge nuxt 3.0.1 rc 0 (in devDependencies` "nuxt": "npm:nuxt3@latest"`) with `"@nuxtjs/i18n": "npm:@nuxtjs/i18n-edge"` in dependencies, and i use `npm`

- i don't have spaces and diacritics in path
- i use ubuntu
- `npx nuxi clean` to remove nuxt cache

[2022-11-23 09:06] sangemi opened #1672 "get json5 lang files"
### Version
        "@nuxtjs/i18n": "npm:@nuxtjs/i18n-edge",
        "nuxt": "^3.0.0-rc.14",

### Nuxt configuration
Please change to `[x]` if relevant for this issue:
 - [v ] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

[code]

### What is Expected?

I made ~/lang/en.json5
I think resolveLocales() can read my files well.

[code]

But I think another

[2022-11-23 09:50] Bcavez commented on #1640
Does work now with that setup, thanks !

[2022-11-23 11:33] kazupon commented on #1671
Thank you for your feedback.

if we use `pnpm`, we need to use with `--shamefully-hoist` option.

[code]

and if we have `.npmrc` in your project, you have to confirm `shamefully-hoist`
Nuxt official installation docs has already mentiond about it.
https://nuxt.com/docs/getting-started/installation

Thanks!

[2022-11-23 11:33] #1671 closed, assigned to nobody

[2022-11-23 14:58] dargmuesli opened #1674 "[next] fix: all collection items must start at the same column #204"
Raising a ticket here for visibility of an upstream issue: https://github.com/intlify/bundle-tools/issues/204

### What is happening?
An error shows: `all collection items must start at the same column`

### What is expected?
That error does not show and the projects builds successfully.

### Steps to reproduce
Use `yaml` as i18n content.

### Reproduction Link
https://stackblitz.com/edit/github-a

[2022-11-23 17:39] retroriff opened #1675 "<html> element does not have a [lang] attribute"
### Version
"@nuxtjs/i18n": "^8.0.0-beta.4",
"nuxt": "3.0.0-rc.13"

### Reproduction Link
https://stackblitz.com/github/retroriff/nuxt-refresh

### @nuxtjs/i18n configuration
[code]

<html> element does not have a [lang] attribute.

[2022-11-23 17:39] retroriff commented on #1507
https://github.com/nuxt-community/i18n-module/issues/1675

[2022-11-24 05:02] kazupon commented on #1675
Thank you for your reporting!

I've just checked your stackblitz

You need to specify the i18n head meta info that is getten with `useLocaleHead` into `useHead` that is built-in composable in Nuxt.
nuxtjs/i18n v8 docs said:
https://v8.i18n.nuxtjs.org/guide/seo

Thanks!

[2022-11-24 05:02] #1675 closed, assigned to nobody

[2022-11-24 11:55] GoodLucky777 opened #1677 "[next] Enabling detectBrowserLanguage cause i18n import error and hydration content mismatch error"
### Version
@nuxtjs/i18n: `8.0.0-beta.4-27817449.b065900` (b0659002d2e555aea53d818b36d7e198cdfafe32)
nuxt: 3.0.0

### Nuxt configuration
[code]

### Reproduction Link

Project: https://stackblitz.com/edit/nuxt-i18n-import-error
NodeJS version: `18.12.1`
OS: Windows 10

### Steps to reproduce
1. Download the project to Windows 10
2. Run `pnpm install` and `pnpm run dev`.
3. See the errors.

### Wha

[2022-11-24 16:33] smares opened #1678 "Lazy loading does not work as expected"
Following the documentation on lazy loading, the following configuration

[code]

leads to errors running `npm run dev`

[code]

I then tried adding

[code]

which solved the problem leading only to the following warning

[code]

However, this leads to the `de.json` (or `de.js` in production) chunk always being loaded regardless of Nuxt already injecting the translations into the components. So it

[2022-11-25 08:45] LordZombi commented on #1640
When can we expect proper release?

[2022-11-25 14:18] kazupon commented on #1678
Thank you for your reporting!
Same #1518
We will fix this issue until v8 official release.

Thanks

[2022-11-25 14:23] kazupon commented on #1677
Thank you for your reporting!
Same #1518
We will fix this issue until v8 official release.
Thanks

[2022-11-25 14:23] #1677 closed, assigned to nobody

[2022-11-25 14:40] kazupon commented on #1672
Thank you for your reporting!
Same #1518
This issue is occured on windows
We will fix this issue until v8 official release.
Thanks

[2022-11-25 14:40] #1672 closed, assigned to nobody

[2022-11-25 15:42] smares commented on #1678
#1518 is about the `needs an import assertion of type "json"` error, but if I ignore that and run `yarn build` and then serve the production build, `de.js` is loaded by `entry.js` despite the fact that the components already contain the German texts. Why is that?

It happens even if I leave out the block

[code]

[2022-11-26 08:51] kazupon commented on #1649
I've just fixed this issue and released out edge version  `@nuxtjs/i18n-edge@8.0.0-beta.4-27824203.a7fc4de`
As you can see in #1673, I have rewritten custom routes.
So you need to read the docs.
https://v8.i18n.nuxtjs.org/guide/custom-paths

I will close this issue with the release of v8.0.0-beta.5.
Thanks!

[2022-11-26 15:45] mohammadali0120 opened #1681 "Why `tm` function doesn't work with arrays, like vue-i18n nine version?"
Hi, I have some array/object items in my locale file like the example below:

[code]

But it doesn't return the array or object it just returns an empty object or array, see in the image below:

![Capture](https://user-images.githubusercontent.com/59791091/204096916-a2c466ff-54e6-4c6f-965b-da8821cd42e1.PNG)

And here my Vue component code:

[code]
And the question is why it's happening?
it has no

[2022-11-26 17:47] kazupon commented on #1681
Thank you for your reporting!

If you use `tm`, you must use `rt`.
It is also mentioned in the vue-i18n v9 documentation.
https://vue-i18n.intlify.dev/api/composition.html#tm-key

e.g.
[code]

Thanks!

[2022-11-26 17:48] #1681 closed, assigned to nobody

[2022-11-26 18:28] mohammadali0120 commented on #1681
@kazupon Thanks for your efforts and quick answer, one question, I have used vue-18n without `rt` function in my nuxt 3 app, and it works as expected, but why in this package do we need to use `rt` function? it wouldn't be annoying?
I don't know anything about the architect of the code, but there will be any chance to remove the need for the `rt` function in future versions? because I see this is

[2022-11-27 01:00] kazupon commented on #1681
`rt` is vue-i18n APIs, nuxtjs/i18n use it and vue-i18n is stable.
So, we won't remove `rt` from vue-i18n currently.

`rt` is a function introduced in vue-i18n v9.
In earlier versions of vue-i18n, `t` could return resolved strings and arrays.
I have localization experience with applications using vue-i18n in my day job and other projects, and I realized that using `t` makes localization more compli

[2022-11-28 08:50] #1656 closed, assigned to nobody

[2022-11-28 08:50] #1650 closed, assigned to kazupon

[2022-11-28 08:50] #1649 closed, assigned to kazupon

[2022-11-28 08:51] #1621 closed, assigned to kazupon

[2022-11-28 08:51] #1605 closed, assigned to kazupon

[2022-11-28 08:52] #1613 closed, assigned to kazupon

[2022-11-28 09:55] Aareksio commented on #1518
@kazupon Testing with just released beta.5, the `vueI18n` option set to `string` does not translate properly on Windows still:

[code]

[2022-11-28 10:15] oleghalin commented on #1500
Any updates on this? Facing only in --local wrangler env

[2022-11-28 10:21] DamianGlowala opened #1683 "Missing "./node_modules/vue-i18n-routing/dist/vue-i18n-routing.mjs" export in "@nuxtjs/i18n" package"
### Version
@nuxtjs/i18n: `8.0.0-beta.5`
nuxt: `npm:nuxt3@3.0.1-rc.0-27821553.ab125bd`

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [ ] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [ ] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

### Reproduction Link

### Steps to reproduce

[2022-11-28 16:13] jiayuwenn opened #1684 "How can I use i18n in Nuxt3 composable API type and usestatus?"
Hi, the project is using Vue3.2 + Nuxt3, we use i18n in all over the component files, but there are still some part of the text that are coming from composables, I am wondering is there anyway could use the i18n in composable usexxxx files?

for example:
in composables:
[code]

in component:
script:
`const { currentFruit } = useFruits
`
template:
`p {{ currentFruit }}`

It's there anyway could use

[2022-11-28 16:13] kazupon opened #1685 "cannot work locale changing, when we move with `<NuxtLink>` on `no_prefix`"

[2022-11-28 16:13] kazupon commented on #1685
feedback from elk project.

[2022-11-28 16:41] kazupon commented on #1683
Could you give us minimum reproduction repo with github or stackbliz please? 🙏

[2022-11-28 21:10] rchl commented on #1635
I don't really have time for that. Sorry.

[2022-11-28 21:10] #1635 closed, assigned to nobody

[2022-11-29 09:22] abu-ab opened #1687 "Cannot read properties of undefined (reading 'options')"
### Version
@nuxtjs/i18n:7.3.0
nuxt: 3.0.0

### Nuxt configuration

Please change to `[x]` if relevant for this issue:

 - [x] Applies to a site deployed to a static server (site generated with `nuxt generate`)
 - [] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

![image](https://user-images.githubusercontent.com/23444044/204488855-e0fbdd5d-9e45-4ca9-a5

[2022-11-29 09:43] rchl commented on #1687
Follow https://v8.i18n.nuxtjs.org/ for Nuxt 3.

[2022-11-29 09:43] #1687 closed, assigned to nobody

[2022-11-29 11:14] wanjee commented on #1683
Hi,

@nuxtjs/i18n: @nuxtjs/i18n-edge@8.0.0-beta.4-27817449.b065900
nuxt: 3.0.0

Not sure if totally related but I have an issue that might be similar.  However my colleagues, with same code base, cannot reproduced it.

Error message is :

[vite:load-fallback] Could not load /Users/xxxx/www/vwp_test/frontend/dist/vue-i18n-routing.mjs (imported by node_modules/@nuxtjs/i18n/dist/runtime/plugin.mjs):

[2022-11-29 12:16] markus-gx opened #1688 "Translations fetched via API; Hydration mismatch"
### Version
@nuxtjs/i18n: 8.0.0-beta.4
nuxt:3.0.0

### Nuxt configuration

Please change to `[x]` if relevant for this issue:
 - [x ] Applies to a site deployed to a server with a Node backend

### @nuxtjs/i18n configuration

[code]

### What is Expected?

I am fetching translations from a CMS. Therefore no static json file with translations is available.
In `app.vue` => on start of the applicatio

[2022-11-29 14:20] #1685 closed, assigned to nobody

[2022-11-29 15:31] Nobi322 commented on #1683
@wanjee have same issue

[2022-11-29 15:59] kazupon commented on #1683
I would like to resolve this issue, and would like the following information and debug logs.

- info
  - package manager & version
  - OS
  - node.js version
- log
  - npm using case: `DEBUG=@nuxtjs/i18n:* npm run dev`
  - yarn using case: `DEBUG=@nuxtjs/i18n:* yarn dev`
  - pnpm using case: `DEBUG=@nuxtjs/i18n:* pnpm run dev`

[2022-11-29 16:47] wanjee commented on #1683
- package manager & version: npm 8.19.2
- OS: OSX 13.0.1
- Node.js version: v16.18.0

Log attached

[i18n_issue_1683_npm_log.txt](https://github.com/nuxt-modules/i18n/files/10115197/i18n_issue_1683_npm_log.txt)

[2022-11-29 18:40] joffreyBerrier commented on #1610
Hi @kazupon, why you only use JSON, JSON5 and YAML and not Javascript? Today my nuxt@2 project works with the same library.
I have separated all my translation files so I can't import them into a JSON file. Do you see the problem? 🥺

Example :
[code]

[2022-11-30 02:03] kazupon commented on #1610
I'm working on js/ts supporting.
please wait.
see details https://github.com/nuxt-modules/i18n/pull/1576#issuecomment-1288119399

[2022-11-30 08:13] Aareksio commented on #1683
@kazupon
Probably related, with a reproduction, started happening with beta.5

https://stackblitz.com/edit/github-hz9kaq-thtg5j
![image](https://user-images.githubusercontent.com/11166786/204742425-1f993c9f-f459-4b65-af36-f4d1345244fd.png)

It **works** on my Windows 10 and Debian, **does not** work on OSX (Intel) and StackBlitz.

[2022-11-30 08:20] lukaszflorczak commented on #1683
The same problem on:
* pnpm v7.17.1
* Node v18.11.9
* Mac OS 13.0.1 (Intel)

Tested with beta.5 and beta.6

<img width="1996" alt="Zrzut ekranu 2022-11-30 o 07 10 30" src="https://user-images.githubusercontent.com/1818979/204743940-faddb3a9-2292-4b2f-b1c8-5e3b3dc50741.png">

[2022-11-30 10:47] wanjee commented on #1683
I downloaded the code from @Aareksio's Stackblitz and gave it a try locally... no error for me.
While my own project still shows the error I mentioned yesterday

[2022-11-30 15:10] katerlouis opened #1689 "Non-default locale canonical is wrong for dynamic pages due to different paths"
We use storyblok as our cms and our pages use different paths per locale. Example:

`/datenschutz/` becomes `/en/privacy/`

But the resulting canonicals say `/datenschutz/` and `/en/datenschutz/`, which is a problem.

The pages coming from storyblok are not extended to the router for a very similar reason; `extendRoutes()` in nuxt.config cannot be told to have different paths per route (or can it?

[2022-11-30 15:26] katerlouis commented on #1648
Thanks a lot @jbmolle – Unfortunately we are still on Nuxt2 and can't migrate now or in the foreseeable future :( – Is it possible to overwrite route meta in Nuxt2 aswell?

Also: As a reminder, I'm for translated route paths, not dynamic and reactive params– Your proposition does not add the routes to `router.js` so that I can use `localePath('my-site')`, right?

[2022-11-30 18:39] AlexBa commented on #1683
I have the same issue on OS X and 8.0.0-beta.6

[2022-11-30 20:53] kane-mason commented on #1266
I am trying to access `this.$nuxtI18nHead` within the `head` function of `nuxt.config.js` but `this` is not defined, what am i doing wrong? I am using nuxt 2.15.8